// Place all the styles related to the aboutus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron3 {
  background: url('http://r.photo.store.qq.com/psb?/V10GWtGT3kTctc/IPEG0nzPw4Fc7Dx*7A5U81cFJ2LUrDRywoI4zg0Ce1o!/r/dN4AAAAAAAAA') scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
