// Place all the styles related to the aboutus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron2 {
  background: url('http://r.photo.store.qq.com/psb?/V10GWtGT3kTctc/tfCv0ycLJyr1XsVTwSn5Nhmg.mOdJEoLxGy8sgnhZZI!/r/dAkBAAAAAAAA') scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron3 {
  background: url('http://r.photo.store.qq.com/psb?/V10GWtGT3kTctc/1ZKlndG7caCCr4z12DNlljNCe3M85VgNg71shUvz5L8!/r/dAsBAAAAAAAA') scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
