/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "font-awesome";

 .container-fluid .jumbotron{
   border-radius: 0;//圆角为0
 }
 .navbar{
     background:rgba(5,5,5,0.5);
      border:rgba(0,0,0,0.5);
 }
 .nav-pills > li.active > a {
     background-color:#0090ff;
 }
 // This changes the color of the active
 .navbar-default .navbar-nav > li > a{
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0000000;
  background-color: #ffffff;
}
