// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  background: url('http://r.photo.store.qq.com/psb?/V10GWtGT3kTctc/q11pFX6TEfXb8f2bBSS95wRcUS*MqSqZZGRqCIh0*ZE!/r/dN0AAAAAAAAA') scroll;
  background-size: cover;
  background-repeat: no-repeat;

}

.title {
 font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
 text-align: center;
 margin-top: 200px;
 margin-bottom: 80px;
}

.slogan {
 margin-top: 10px;
 margin-bottom: 50px;
 text-align: center;
 color: white;
 top: 12px;
}

.lead {
 margin-bottom: 60px;
 text-align: left;
 color: #bf0000;

}

.round-submit-1 .round-submit-button {
  border-radius: 25px;
  background: transparent;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  line-height: 1;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 14px 37px 13px;
  margin-right: 10px;
  margin-top: 20px;
}
